main .about {
	flex-direction: column;
	.main__mob{
		display: none;
	}
	h2{
		align-self: flex-start;
	}
.about-me{
	display: flex;
	flex-direction: column;
	justify-content: spase-between;
	div{
		margin:0;
		padding: 5% 0;
	}
}
}